<ng-progress></ng-progress>
<section class="container">

    <header class="jumbotron">

        <h1>My Goals</h1>

    </header>

    <hr>

    <div class="row">
        
        <blockquote class="text-center text-lg">

            <!-- Display quote from Quote Api -->
            <p>{{quote.quote}}</p>

            <!-- Display author of quote from Quote Api -->

            <footer>

                <cite>
                    {{quote.author}}
                </cite>

            </footer>

        </blockquote>

    </div>

    <hr>

    <div class="row">

        <!-- 
            Add output event addGoal that triggers function addNewGoal 

            Pass values from output event to addNewGoal 
        -->
        <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>

    </div>

    <hr>

    <ul>
        <!-- let i = index : registers the position index for each list item -->
        <div  class="row" *ngFor='let goalFromParent of goals; let i = index'>

            <div class="row">
                
                <li id="{{i}}" appStrikethrough>{{goalFromParent.name}} due on {{goalFromParent.completeDate|date|uppercase}}</li>
                
                <!-- 
                    Button to navigate to Goal Details Component 

                    Call go ToUrl function and pass in the id of the goal
                -->
                <button class="btn btn-primary" (click)=goToUrl(goalFromParent.id)>View Details</button>

                <!-- 
                    Button to delete a goal 

                    Call deleteGoal function and pass in id of the goal
                -->
                <button class="bt btn-danger" (click)=deleteGoal(i)>Delete Goal</button>
                

            </div>

        </div>

    </ul>

    <p *ngIf='goals.length > 5'>You have too many goals</p>

    <p>You have {{goals.length}} goals</p>

</section>

                <!-- Output property binding : button is clicked == toogleDetails function is triggered -->


            <!-- <div class="row button-right">
                
                <button class="btn btn-primary" (click)='toogleDetails(i)'>Toggle Details</button>
            </div> -->

            <!-- <div class="row"> -->
                <!-- Pass goalFromParent to child component

                     Check the value of showDescription for the goalFromParent

                     Capture event being transmitted / capture isComplete from child component

                     Call completeGoal function and pass values being emitted / $event placeholder for values being emitted with the event

                     Also, pass index of the goalFromParent

                     Add output event that gets emitted == isComplete

                     Call deleteGoal function and pass emitted value, $event, and index of the goal
                 -->
                <!-- <app-goal-details *ngIf="goalFromParent.showDescription" [goalToChild]='goalFromParent' (isComplete)='deleteGoal($event, i)'></app-goal-details> -->
                
            <!-- </div> -->






